// Brixton BrxPU2 SNA Server Sample Configuration
// @(#)brxpu2.config	1.2 7/29/91
//

EOS  XyBtXJj1IickuM;

SDLCLINE NAME=NCR01,	        // User defined name (8 char max)
	 DEVICE='/dev/ttys0',    // UNIX device for this line (port A)
	 CLOCK=EXTERNAL,	// Clocking by modems (external source)
	 DUPLEX=HALF,		// Full duplex line (point-to-point)
         LINE=switched,         // direct line (nonswitched)
	 ISTATUS=INACTIVE,	// bring line up upon boot
	 CD_MONITOR=NO,		// don't worry if there is no CD signal
	 NRZI=NO,		// NRZ encoding
         PAUSE=1,		// Wait for input during poll cycle (100 ms)
	 SPEED=9600;		// Line Speed (in bits/sec)

DLC	 NAME=NPU011,		// User defined name (8 char max)
	 LINK_NAME=NCR01,	// Line name this station is on
         TERMID=x'05DCFFFF',
	 ADDR=x'C1',		// Station address
	 MAXDATA=265,		// Max data size for frame on link
	 OUTFRAME=7,		// Max outstanding frames allowed
	 MODULO=8,		// SDLC is modulo 8
	 ACTIVITY_TIMEOUT=0,	// Host activity timer -- none (in sec units)
	 RETRIES=10;		// Max retransmissions

TRLINE	 NAME=TR01,
	 DEVICE='/dev/nit',
	 SOURCE_ADDRESS=X'400031740004',
	 INTERFACE=tr0,
	 MAXDATA=2052,
         ISTATUS=ACTIVE,
	 LAN_RATE=RING_4Mbs;

LLC	 NAME=LLC1,
	 MAXPDU=2052,
	 LLC_STATION_CLASS=CLASS_II,
	 SOURCE_ROUTE=NO,
	 DEVICE='/dev/llc';

DLC	 NAME=TRPU011,
	 LINK_NAME=TR01,
	 TERMID=X'01700004',
	 MAXDATA=2048,
	 INFRAME=7,
	 OUTFRAME=7,
	 MODULO=128,
	 ACTIVITY_TIMEOUT=30,
	 RETRIES=10,
	 LCLLSAP=X'04',
	 RMTLSAP=X'04',
	 ISTATUS=ACTIVE,
	 NQ_CP_NAME=VTAM9370.TRILLPU,
	 RMTMACADDR=X'400093700001';

//
// Token ring LUs
//
LU       NAME=TLU01101,		// User defined name (8 char max)
         PU_NAME=TRPU011,	// PU2 this LU belongs to
	 LUTYPE=2,              // LU type 2 (3270)
	 LOCADDR=2,		// Local address of LU 
	 PACING=1;		// Pacing window

LU       NAME=TLU01102,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=3,
	 PACING=1;

LU       NAME=TLU01103,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=4,
	 PACING=1;

LU       NAME=TLU01104,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=5,
	 PACING=1;

LU       NAME=TLU01105,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=6,
	 PACING=1;

LU       NAME=TLU01106,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=7,
	 PACING=1;
  
LU       NAME=TLU01107,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=8,
	 PACING=1;

LU       NAME=TLU01108,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=9,
	 PACING=1;

LU       NAME=TLU01109,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=10,
	 PACING=1;

LU       NAME=TLU01110,
         PU_NAME=TRPU011,
	 LUTYPE=2,
	 LOCADDR=11,
	 PACING=1;

//
// SDLC LUs
//
LU       NAME=NLU01101,		// User defined name (8 char max)
         PU_NAME=NPU011,	// PU2 this LU belongs to
	 LUTYPE=2,              // LU type 2 (3270)
	 LOCADDR=2,		// Local address of LU 
	 PACING=1;		// Pacing window

LU       NAME=NLU01102,
         PU_NAME=NPU011,
	 LUTYPE=2,
	 LOCADDR=3,
	 PACING=1;

LU       NAME=NLU01103,
         PU_NAME=NPU011,
	 LUTYPE=2,
	 LOCADDR=4,
	 PACING=1;

LU       NAME=NLU01104,
         PU_NAME=NPU011,
	 LUTYPE=2,
	 LOCADDR=5,
	 pacing=1;

LU       NAME=NLU01105,
         PU_NAME=NPU011,
	 LUTYPE=2,
	 LOCADDR=6,
	 pacing=1;

LU       NAME=NLU01106,
         PU_NAME=NPU011,
	 LUTYPE=2,
	 LOCADDR=7,
	 pacing=1;

CP      Name=TRILLCP,
        NQ_CP_NAME=VTAM9370.TRILLPU;

// LU6.2 Logical Unit VSELUA

LU      NAME=VSELUA,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6299", // Network Qualified Name
        SESS_LMT=24,                    // Max LU sessions
        LUTYPE=6.2;

PTNR_LU NAME=VSELUAP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUA              // Associated Local LU
        NQ_LU_NAME=VTAM9370.DBDCCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUAP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
	AUTOINIT_SL=YES			// Auto init session limits
        ;

PTNR_LU NAME=LUAPPROD                   // Local name (8 char max)
        LOC_LU_NAME=VSELUA              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=LUAPPROD           // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
	AUTOINIT_SL=YES			// Auto init session limits
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUA              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUA
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 Logical Unit VSELUB

LU      NAME=VSELUB,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6298", // Network Qualified Name
        SESS_LMT=24,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUBP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUB              // Associated Local LU
        NQ_LU_NAME=VTAM9370.DBDCCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUBP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

PTNR_LU NAME=LUBPPROD                   // Local name (8 char max)
        LOC_LU_NAME=VSELUB              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=LUBPPROD           // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUB              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUB
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 Logical Unit VSELUC

LU      NAME=VSELUC,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6297", // Network Qualified Name
        SESS_LMT=10,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUCP                       // Local name (8 char max)
        LOC_LU_NAME=VSELUC              // Associated Local LU
        NQ_LU_NAME=VTAM9370.DBDCCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUCP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

PTNR_LU NAME=LUCPPROD                   // Local name (8 char max)
        LOC_LU_NAME=VSELUC              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=LUCPPROD           // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUC              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUC
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 Logical Unit VSELUD

LU      NAME=VSELUD,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6296", // Network Qualified Name
        SESS_LMT=10,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUDP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUD              // Associated Local LU
        NQ_LU_NAME=VTAM9370.DBDCCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUDP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUD              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUD
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 Logical Unit VSELUE

LU      NAME=VSELUE,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6295", // Network Qualified Name
        SESS_LMT=10,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUEP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUE              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                     // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUEP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUE              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUE
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;
       
// LU6.2 Logical Unit VSELUF

LU      NAME=VSELUF,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6294", // Network Qualified Name
        SESS_LMT=10,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUFP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUF              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUFP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUF              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUF
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 Logical Unit VSELUG

LU      NAME=VSELUG,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6293", // Network Qualified Name
        SESS_LMT=10,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUGP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUG              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUGP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUG              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUG
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 Logical Unit VSELUH

LU      NAME=VSELUH,                    // Local name (8 char max)
        NQ_LU_NAME="VTAM9370.TRLU6292", // Network Qualified Name
        SESS_LMT=10,                    // Max LU sessions
        LUTYPE=6.2
        ;

PTNR_LU NAME=VSELUHP                    // Local name (8 char max)
        LOC_LU_NAME=VSELUH              // Associated Local LU
        NQ_LU_NAME=VTAM9370.PRODCICS    // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=TRPU011                // Associated DLC
        PTNR_LU_NAME=VSELUHP            // Associated Partner LU
        LCL_MAX_SESS_LMT=10             // Max Session Limit
        MIN_CW_SESS=5                   // Min Conwinners
        MIN_CL_SESS=5                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=VSELUH              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=VSELUH
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;
