// Brixton BrxPU2 SNA Server Sample Configuration
// @(#)brxpu2.config	1.2 7/29/91

EOS  X6W0hxGxSQH0nq;

CP      Name=FARPOINT,
        NQ_CP_NAME=IBMLAN.FARPU;

TRLINE	 NAME=TR01,
	 DEVICE='/dev/tok0',
	 SOURCE_ADDRESS=X'400093700002',
	 INTERFACE=tr0,
	 MAXDATA=2052,
         ISTATUS=ACTIVE,
	 LAN_RATE=RING_4Mbs;

LLC	 NAME=LLC1,
	 MAXPDU=2052,
	 LLC_STATION_CLASS=CLASS_II,
	 SOURCE_ROUTE=NO,
	 DEVICE='/dev/llc';

// LU6.2 LOCAL Logical Unit LOCLUA

LU      NAME=LOCLUA,                    // Local name (8 char max)
        NQ_LU_NAME=IBMLAN.LOCLUA,       // Network Qualified Name
        SESS_LMT=12,                    // Max LU sessions
        BIND_RSP_Q=YES,                 // 
        MAP_NAME=0,
        LUTYPE=6.2
        ;

PTNR_LU NAME=LOCPLUB                    // Local name (8 char max)
        LOC_LU_NAME=LOCLUA              // Associated Local LU
        NQ_LU_NAME=IBMLAN.LOCLUB        // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=LOCAL                  // Associated DLC
        PTNR_LU_NAME=LOCPLUB            // Associated Partner LU
        LCL_MAX_SESS_LMT=4              // Max Session Limit
        MIN_CW_SESS=2                   // Min Conwinners
        MIN_CL_SESS=2                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=LOCLUA              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=LOCLUA
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 LOCAL Logical Unit LOCLUB

LU      NAME=LOCLUB,                    // Local name (8 char max)
        NQ_LU_NAME=IBMLAN.LOCLUB,       // Network Qualified Name
        SESS_LMT=12,                    // Max LU sessions
        BIND_RSP_Q=YES,                 // 
        MAP_NAME=0,
        LUTYPE=6.2
        ;

PTNR_LU NAME=LOCPLUA                    // Local name (8 char max)
        LOC_LU_NAME=LOCLUB              // Associated Local LU
        NQ_LU_NAME=IBMLAN.LOCLUA        // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=LOCAL                  // Associated DLC
        PTNR_LU_NAME=LOCPLUA            // Associated Partner LU
        LCL_MAX_SESS_LMT=4              // Max Session Limit
        MIN_CW_SESS=2                   // Min Conwinners
        MIN_CL_SESS=2                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=LOCLUB              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=LOCLUB
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;
// LU6.2 LOCAL (DLC1) Logical Unit LOCLUC

LU      NAME=LOCLUC,                    // Local name (8 char max)
        NQ_LU_NAME=IBMLAN.LOCLUC,       // Network Qualified Name
        SESS_LMT=12,                    // Max LU sessions
        BIND_RSP_Q=YES,                 // 
        MAP_NAME=0,
        LUTYPE=6.2
        ;

PTNR_LU NAME=LOCLUCP                    // Local name (8 char max)
        LOC_LU_NAME=LOCLUC              // Associated Local LU
        NQ_LU_NAME=IBMLAN.LOCLUD        // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=LOCAL                  // Associated DLC
        PTNR_LU_NAME=LOCLUCP            // Associated Partner LU
        LCL_MAX_SESS_LMT=4              // Max Session Limit
        MIN_CW_SESS=2                   // Min Conwinners
        MIN_CL_SESS=2                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=LOCLUC              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=LOCLUC
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;

// LU6.2 LOCAL (DLC2) Logical Unit LOCLUD

LU      NAME=LOCLUD,                    // Local name (8 char max)
        NQ_LU_NAME=IBMLAN.LOCLUD,       // Network Qualified Name
        SESS_LMT=12,                    // Max LU sessions
        BIND_RSP_Q=YES,                 // 
        MAP_NAME=0,
        LUTYPE=6.2
        ;

PTNR_LU NAME=LOCLUDP                    // Local name (8 char max)
        LOC_LU_NAME=LOCLUD              // Associated Local LU
        NQ_LU_NAME=IBMLAN.LOCLUC        // Network Qualified Name
        ;

MODE    NAME=SNALU62                    // Mode Name (8 char max)
        DLC_NAME=LOCAL                  // Associated DLC
        PTNR_LU_NAME=LOCLUDP            // Associated Partner LU
        LCL_MAX_SESS_LMT=4              // Max Session Limit
        MIN_CW_SESS=2                   // Min Conwinners
        MIN_CL_SESS=2                   // Min Conlosers
        ;

TP      TP_NAME=COPR                    // TP Name (8 char max)
        LOC_LU_NAME=LOCLUD              // Associated Local LU
        PRIVILEGE=CNOS                  // Privileged COPR verbs
        PRIVILEGE=SESSION_CONTROL
        PRIVILEGE=DISPLAY
        ;

TP      TP_NAME="*"
        LOC_LU_NAME=LOCLUD
        CONV_TYPE=MAPPED
        SYNC_LVL=NONE
        SYNC_LVL=CONFIRM
        TP_PATH=""
        ;
